/***************************
 * Custom Styles for JsonForm Custom types
 * author: Omar Pirrello for RUSTIK Framework
 */

.jsonform .fileupload {
   position:absolute;
   top:0;
   left:0;
   filter: alpha(opacity=0);
   -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
   opacity:0;
   background-color:transparent;
   color:transparent;
   width:0;
}

.jsonform .filebrowse {
   border-top-right-radius:0;
   border-bottom-right-radius:0;
   width:40%;
}

.jsonform .fileinfo {
   display: inline-block;
   line-height: 25px;
   vertical-align: middle;
   width: 60%;
   padding: 4px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   background: #D5D5D5;
   color: #999;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
}

.jsonform .fileinfo.new {
   width: 40% !important;
   border-top-right-radius: unset;
   border-bottom-right-radius: unset;
}

.jsonform .fileinfo.current { width: 20%; background: #DDD; }
.jsonform .fileinfo.current strong {
   color: #FFF;
   font-size: 12px; 
   font-style: italic; 
   display: inline-block;
   width: 77%;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 1;
}

.jsonform .fileinfo.current ul { margin: 0; padding: 0; list-style: none; display: inline; float: right; color: #FFF; margin-right: 5px;}
.jsonform .fileinfo.current li { display:inline; margin:0 2px; }
.jsonform .fileinfo.current li.preview,
.jsonform .fileinfo.current li.delete { cursor:pointer; }
